port {{ openvpn_port }}
port {{ openvpn_proto }}
dev tun 

ca {{ openvpn_dir }}/server/ca.crt
cert {{ openvpn_dir }}/server/server.crt
key {{ openvpn_dir }}/server/server.key
dh {{ openvpn_dir }}/server/dh.pem

tls-auth {{ openvpn_dir }}/ta.key 0
tls-server  
auth SHA-256
cipher AES-256-CBC
tls-version-main 1.2
tls-cipher TLS-ECDHE-ECDSA-WITH-AES-256-GCM-SHA384:TLS-ECDHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-ECDHE-ECDSA-WITH-AES-256-CBC-SHA384:TLS-ECDHE-RSA-WITH-AES-256-CBC-SHA384:TLS-DHE-RSA-WITH-AES-256-CBC-SHA256

server {{ openvpn_network }} {{ openvpn_netmask }} #10.9.0.0 255.255.255.0
toplogy subnet
ifconfig-pool-persist ipp.txt
push "redirect-gateway def1 bypass-dhcp"
push "dhc-option DNS 1.0.0.1"
push "dhc-option DNS 1.1.1.1"
push "dhc-option DNS 8.8.8.8"
push "dhc-option DNS 8.8.4.4"
keepalive 5 30
persist-key
persist-tun
user nobody
group nogroup

status status-openvpn_udp_1194.log
status-version 1
log-append /var/log/openvpn/openvpn.log
verb 3


script-security 1